.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 32px 0;
}

.accordion summary h3 {
  font-size: 24px;
  color: #170F49;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-bottom: 0;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}
.accordion:last-of-type {
  border-bottom: 0rem;
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 2.5rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-weight: 600;
  font-family: 'Instrument Sans Regular';
}

.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}


.accordion .icon-minus {
  display: none;
}

.accordion details[open] > summary .icon-minus  {
  display: block;
}
.accordion details[open] > summary .icon-plus {
  display: none;
}

.accordion__content {
  word-break: break-word;
  overflow-x: auto;
}

.accordion__content p {
  font-size: 1.8rem;
  color:#14154C;
}


.accordion__content img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .accordion summary {
    padding: 16px;
    align-items: center;
  }
}